body{
    background-color: #818080;


}

header {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 2px solid #444242;
}

nav {
    background-color: #818080;
    color: #000000;
    padding: 2px;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 2px solid #444242;
}

main {
    padding: 1em;
}

.image-container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1400px; /* Limitar el ancho máximo del contenedor */
}

.image-container img {
    width: 320px; /* Ajusta el tamaño de la imagen */
    height: auto; /* Mantiene las proporciones de la imagen */
    margin-right: 1em;
}

.image-description {
    font-size: 1em;
    color: #333;
}

.text-box {
    background-color: #f4f4f4; /* Fondo de la caja de texto */
    border: 1px solid #ccc; /* Borde de la caja de texto */
    padding: 1em; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    max-width: 100%; /* Permite que la caja de texto se ajuste al ancho disponible */
    overflow: auto; /* Añade barras de desplazamiento si el contenido excede el tamaño */
    flex: 1; /* Permite que la caja de texto ocupe el espacio restante */
}

.text-box p {
    margin: 0; /* Elimina el margen por defecto del párrafo */
    line-height: 1.5; /* Mejora la legibilidad del texto largo */
}


.social-link {
    text-decoration: none;
    color: #000; /* Color del texto negro */
    font-weight: bold; /* Opcional: hacer el texto negrita para destacarlo */
}